.titulo-oferta {
    background-color: #1F3F4F;
    color: white;
    padding: 60px 0;
    border-bottom: 5px solid #198754;
}
/*CARDS*/
.card-carrera {
    border: none;
    border-radius: 0; /* Estilo recto como tus otras secciones */
    border-top: 5px solid #198754;
    transition: transform 0.3s ease;
}
.card-carrera:hover {
    transform: scale(1.02);
}
.duracion {
    background-color: #142A35;
    color: white;
    padding: 5px 10px;
    font-size: 0.8rem;
    text-transform: uppercase;
}

/*REQUISITOS*/
.seccion-requisitos {
    background-color: #142A35;
    color: white;
    padding: 40px;
}
.seccion-requisitos h4 {
    color: #198754;
    font-weight: 700;
}