
/*Formulario*/
.seccion-contacto {
    padding: 60px ;
}
/* Estilo para los cuadros de texto */
.form-control {
    border-radius: 0;
    border: 1px solid #142A35;
}
.titulo-contacto {
    color: #142A35;
    font-weight: 700;
}

.caja-info {
    background-color: #142A35;
    color: white;
    padding: 30px;
}
.caja-info h3 {
    color: #198754;
}
.contenedor-mapa iframe {
    width: 100%;
    height: 300px;
}