
.titulo {
    background-color: #1F3F4F;
    color: white;
    padding: 80px 0;
}

.mision-vision {
    background-color: #ffffff;
    border-left: 5px solid #198754; /* Tu verde success */
    border-radius: 4px;
}