/*PALETA DE COLORES:
Azul Petróleo Profundo (#1D3D49)
Crema / Blanco Hueso (#F2E9D4)
Gris Carbón (#2C2F33)
Gris Azulado Oscuro (#454B52)
*/
/* PALETA DE COLORES */

 /* HEADER */

.cabecera-estilo {
background-color: #142A35;
background-size: cover;
padding: 10px 0;
border-top: 20px solid #454B52;
background-image: linear-gradient(to right, rgba(0,0,0,0.4) 0%, transparent 15%, transparent 85%, rgba(0,0,0,0.4) 100%);
 box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

/* FOOTER */
footer {
    background-color: #142A35;
    color: #454B52;
}
